body {
  background-color: #b9d4e9;
}

.navbar-static-top {
  margin-bottom: -3px;
}

.carousel-control.left
{
	background: none;
}
.carousel-control.right
{
	background: none;
}

.carousel-control
{
	position: absolute;
	top: 45%;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: auto;
	color: #fff;
	text-align: center;
	opacity: 1;
	text-shadow: none;
}
.carousel-control:hover
{
	color: #000;
}
.carousel-indicators
{
	bottom: -50px;
}
.carousel-indicators li
{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #16a085;
	border-radius: 50%;
}
.carousel-indicators .active
{
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #16a085;
}
.carousel-caption
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.4);
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    /*margin-top: 20px;*/
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 500px;
}
.jumbotron {
  background-color: #b7b7b7;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.header {
  text-align: center;
  font-size: 25px;
}


#questions {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: serif;
}

.btn {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}

.selbut {
  padding-right: 200px;
}

#result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8, #result9, #result10, #result11, #result12, #result13 {
    display: none;
    font-size: 20px;
}

img {
max-height: 500px;
max-width: 500px;
}

/*.row {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

.navbar-inverse {
  background-color: #b7b7b7;
}
.navbar-static-bottom {
  margin-top: 50px;
}
